%br
%br
%br
.row
	.large-6.columns

		=form_tag sessions_path do
			%fieldset
				%legend 
					Login
				.row
					.large-12.columns
						%label User Name:
						=text_field_tag :user_name
					
						%label Password:
						=password_field_tag :password
				.row
					.large-3.columns
						=submit_tag "Login", class:"button"
					.large-5.columns
						%br
						=link_to image_tag("facebook.png", style: "max-width: 150px"), auth_facebook_path
		
		=link_to "create new user", new_user_path



