First Name:
=f.text_field :first_name
%br
Last Name: 
=f.text_field :last_name
%br
Email:
=f.text_field :email
User Name
=f.text_field :user_name
%br
Descirption
=f.text_area :description
Password:
=f.password_field :password
Password: Confrimation:
=f.password_field :password_confirmation
=f.submit "Submit", class:"button"

