.row
	
	.large-12.columns
		
		%h1 Users
		
		%table#users.display
			%thead
				%th image
				%th name
				%th score
				%th follow
			%tbody 
				- @users.each do |u|
					%tr
						%td
							
							/ devise breaks everything!
							/ = image_tag u.avatar.url ,:style => "max-width: 50px"
						%td	
							=link_to "#{u.user_name}", user_path(u)
						%td
							= u.total_score
						%td
							= link_to "Follow", friendships_path(:friend_id => u), :method => :post
