.row
	
	.large-12.columns
		%h1 Routes

		=link_to "add a route", new_route_path
		%br
		%br
		%table#routes.display
			%thead
				%th name
				%th grade
				%th location
				%th rating
			%tbody
				-@routes.each do |r|
					%tr
						%td
							= link_to "#{r.name}", route_path(r) 
							
						%td
							= r.grade.name
						%td
							-if r.location
								= r.location.name
						%td 
							-if r.ratings
								=r.ratings.average(:rating)
		
	

		



