
.row
	.large-12.columns
		%h1 Attempts
		%p
			=link_to "add an attempt" , new_attempt_path

		%table#attempts.display
			%thead
				%tr
					%th date attempted
					%th score
					%th notes
					%th route
					%th grade
					%th completed
			%tbody
				- @attempts.each do |f|
					%tr
						%td
							=formatted_date(f.date_attempted)
						%td
							=f.attempt_score
						%td
							=f.notes
						%td
							-if f.route
								=link_to "#{f.route.name}", route_path(f.route.id)
								
							-else
								route not found
						%td
							-if f.route
								=f.route.grade.name
						%td
							=f.completed



